<div id="page">
  <div id="container">
    <div id="episodeDisplay">
      <div class="episode" *ngFor="let episode of getAllEps()">
        <div class="ep">Episode: {{ episode.episode }}</div>
        <div class="title">{{ episode.name }}</div>
        <a [routerLink]="['/episode', episode.id]">Details</a>
      </div>
    </div>

    <div id="nav">
      <button id="prevPage" (click)="getPrev()">PREVIOUS PAGE</button>
      <div>Page: {{ pageNumber }} of {{ getTotalPages() }}</div>
      <button id="nextPage" (click)="getNext()">NEXT PAGE</button>
    </div>
  </div>
</div>
