#title {
  font-family: "Shadows Into Light", cursive;
  font-weight: bolder;
  margin: 20px;
}
h2 {
  font-family: "Patrick Hand", cursive;
  margin: 20px;
}

.link {
  font-family: "Patrick Hand", cursive;
  margin: 20px;
}
